<nav role="navigation" class="text--center main-nav grid--sm-half align--items-end spacing--vert-1 spacing--gutter-mob">
	<ul class="nav-list dsk--flex flex--wrap justify--center mar--no align--items-center">
		{% for item in menu.get_items %}
			<li class="nav-item {{item.classes | join(' ')}} ">
				<a class="top-level nav-link color--blue font--bold font--large" href="{{item.get_link}}">{{item.title}}</a>

				{% if item.get_children %}
					<label class="hidden--dsk trigger--children"><span>+</span></label>
					<ul class="nav nav-drop mar--no">
						{% for child in item.get_children %}
							<li class="nav-drop-item">
								<a class="nav-link color--black font--bold font--large" href="{{child.get_link}}">{{child.title}}</a>
							</li>
						{% endfor %}
					</ul>

				{% endif %}
				
			</li>
			{% if loop.last %}{% else %}<span class="hidden--mob">|</span>{% endif %}
		{% endfor %}
	</ul>
	<div class="hidden--dsk">{{options.search.form}}</div>
</nav>