{% extends "base.twig" %}
{% block content %}
<section class="section--single-header spacing--gutter margin--center max-wrap"><img src="{{post.thumbnail}}" width="100%"></section>
{% include 'components/blocks/block--breadcrumbs.twig' %}
<article class="flex flex--wrap justify--around align--items-start spacing--vert-4">
	<section class="spacing--gutter grid--half">
		<h1>{{post.title}}</h1>
		{# {{event|print_r}} #}
		<p class="font--large">{{event.description}}</p>
		{{post.content}}
	</section>
	<aside class="grid--sixth">
		<img src="http://placekitten.com/g/500/500" width="100%" alt="">
	</aside>
</article>

{% endblock %}