<article class="tease tease-{{post.post_type}} grid--one flex flex--wrap justify--between align--items-start border--1 spacing--vert-2" id="tease-{{post.ID}}">
	{% block content %}
		<div class="grid--one grid--sm-fourth">
			<span class="text--uppercase font--tiny letter--1">{{post.post_type}}</span>
			<h2 class=" font--standard color--brown-dark"><a href="{{post.link}}"  class="color--brown-dark">{{post.title}}</a></h2>
		</div>
		<div class="winery--details grid--one grid--sm-three-fourths font--medium">
			{% if post.post_type == 'winery' %}
				{% if post.get_thumbnail %}
					<img width="300" align="right" class="hidden--mob" src="{{post.thumbnail.src|resize(600,600)}}" />
				{% endif %}

				{{post.short_description}}
				<a href="{{post.permalink}}">Read More</a>
			{% elseif post.post_type == 'event' %}
				{% if post.get_thumbnail %}
					<img width="300" align="right" class="hidden--mob" src="{{post.thumbnail.src|resize(600,600)}}" />
				{% endif %}
				{{post.event_description}}
				<a href="{{post.permalink}}">Read More</a>
			{% else %}
				{% if post.get_thumbnail %}
					<img width="300" align="right" class="hidden--mob" src="{{post.thumbnail.src|resize(600,600)}}" />
				{% endif %}
				{{post.get_preview}}
			{% endif %}

		</div>
	{% endblock %}
</article>