<section class="section--home-events flex flex--wrap justify--between spacing--gutter spacing--dsk-vert-5">
	<div class="grid--one flex flex--wrap justify--between spacing--vert-2 align--items-baseline">
		{% if home.events.title %}<h2>{{home.events.title}}</h2>{% endif %}
		{% if home.events.link %}<a class="font--large font--bold icon-underline" href="{{home.events.link.url}}" title="{{home.events.link.title}}" target="{{home.events.link.target}}">{{home.events.link.title}}</a>{% endif %}
	</div>
	{% for event in home.events.posts %}
		<div class="block--home-event grid--one grid--sm-third">
			<span class="icon-tab color--white font--bold font--medium"><span>
				{% if event.event.end_date %}
					{% if event.event.start_date|date('M') == event.event.end_date|date('M') %}
						{{event.event.start_date|date('M d')}} - {{event.event.end_date|date('d')}}
					{% else %}
						<div style="font-size:.9em;">{{event.event.start_date|date('n/d')}} - {{event.event.end_date|date('n/d')}}</div>
					{% endif %}
				{% endif %}
			</span></span>
			<img src="{{event.image|resize(876,584)}}" class="">
			<div class="spacing--gutter-mob spacing--horiz-1 spacing--vert-half spacing--dsk-vert-1 margin--bot-1 font--medium-dsk color--black">
				<h4>{{event.title}}</h4>
				{{event.event.description}}<br>
				<a href="{{event.link}}">Read More</a>
			</div>
		</div>
	{% endfor %}
</section>