<div class="block--search-modal bg--white grid--sm-half spacing--vert-2 spacing--horiz-2">
	<a href="" title="Click to close this search modal" class="close toggle-search" id="toggleSearch"><i class="icon-close" data-grunticon-embed></i></a>
	<h5>{{options.search.title}}</h5>
	<p>{{options.search.text}}</p>
	{{options.search.form}}
	{% if options.search.links %}
		<div class="links">
			<strong>{{options.search.linktext}}</strong><br>
			{% for link in options.search.links %}
				<a href="{{link.url}}?ref=searchmodal" title="{{link.title}}" target="{{link.target}}">{{link.title}}</a>
			{% endfor %}
		</div>
	{% endif %}
</div>